body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}

h1,
h2 {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
}

.navigation-links a {
  margin: 0 10px;
}

.navigation-links {
  text-align: center;
}
